# shellcheck shell=bash

alias cat='bat'

alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias .2='cd ../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'

alias ls="eza"
alias ll="EZA_ICON_SPACING=2 ls -laagobh --group-directories-first --show-symlinks --git --classify auto --icons auto --time-style '+%Y-%m-%d %H:%M:%S'"
alias ld='ll --only-dirs'
alias lf='ll --only-files'

alias diff="diff --color -u"

alias sz='. ${ZDOTDIR}/.zprofile && . ${ZDOTDIR}/.zshrc'
alias SZ='tmux-shell-cmd --kill "sz"'
alias dt='cd ${DOTFILES_PATH} && nvim .'
alias lz='cd ${XDG_DATA_HOME}/nvim/lazy/LazyVim && nvim .'
alias lp='cd ${XDG_DATA_HOME}/nvim/lazy && nvim .'
alias cddt='cd ${DOTFILES_PATH}'

alias 755d="find . -type d -exec chmod 755 {} \;"
alias 644f="find . -type f -exec chmod 644 {} \;"

alias cfgp='${EDITOR} ${XDG_CONFIG_HOME}/git/config.local.personal'
alias cfgw='${EDITOR} ${XDG_CONFIG_HOME}/git/config.local.work'
alias cfgb='${EDITOR} ${XDG_CONFIG_HOME}/git/config.local.bitbucket'

alias vss='sort -u ${XDG_CONFIG_HOME}/nvim/spell/en.utf-8.add -o ${XDG_CONFIG_HOME}/nvim/spell/en.utf-8.add'
alias vdt='rm ${XDG_STATE_HOME}/nvim/swap/%*'
alias cnode="fd -Iptd '.*/node_modules$|.*/build$|.*/dist$' -x rm -rf"
alias cng="fd -HIptd '.*/.angular/cache$' -x rm -rf"

alias gr="fd -Htd --glob '**/.git' ~/src/ | sort -u"

# Smart AWS SSO login function that uses --no-browser only in WSL2
assol() {
  if [[ "$1" == "--no-browser" ]]; then
    shift
    aws sso login --no-browser --profile "$@"
  elif [[ -f /proc/version ]] && grep -q "\-WSL2" /proc/version; then
    aws sso login --no-browser --profile "$@"
  else
    aws sso login --profile "$@"
  fi
}

# shellcheck disable=SC2139
alias pf="fzf ${FZF_CTRL_T_OPTS}"

alias gi="git init && git symbolic-ref HEAD refs/heads/main"
alias gcl="git diff --name-only --diff-filter=U"
alias ge="rg '[\p{Emoji}--\p{Ascii}]'"

alias drun='docker container run --rm -it'

alias k="kubectl"
alias tf="terraform"
alias tg="terragrunt"
alias g="git"

# A way to define and run tasks in a project. It's like make except it's pure
# Bash so there's no make limitations like not being able to forward arguments.
alias run=./run
